<h1>Hello, <%=@user.firstname %></h1>
<p>Here is your params</p> 
<%= image_tag @user.avatar.url(:medium) %><br />
<%= @user.firstname %><br />
<%= @user.lastname %><br />
<%= @user.email %><br />
<%= @user.gender %></br>
+<%= @user.phone %></br>
<%= @user.age %></br>
<%= @user.country %></br>
<%= @user.city %></br>
<%= @user.street %></br>
<%= @user.apt %></br>
<%= @user.link %></br>

<%= link_to "Home", root_path %>
<%= link_to "Edit Profile", edit_user_path %>
